{% extends "index.html" %}
{% load i18n %}
  {% block contenido %}

<div class="container">
	<div class="row" style="padding-top: 70px">
		<div class="col-sm-12">
			<h1>Change Password</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form method="post" action="." id="passwordForm">
				{% csrf_token %}
				<input type="password" class="input-lg form-control" name="old_password" id="id_old_password" placeholder="Old Password" autocomplete="off">
				<div class="row">
					<div class="col-sm-6" style="background: wheat">
						<span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>8 Characters Long<br>
						<span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
					</div>
					<div class="col-sm-6" style="background: wheat">
						<span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
						<span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
					</div>
					
					<div class="col-sm-6" style="background: wheat;" >
						<span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;" ></span> Your password can't be too similar to your other personal information.<br>
					</div>
					<div class="col-sm-6" style="background: wheat">
						<span id="lcase" class="glyphicon glyphicon-remove" style="color:wheat;"></span> <font color="wheat">Your password can't be too similar to your other personal information.</font><br>
					</div>
				</div>
				<input type="password" class="input-lg form-control" name="new_password1" id="id_new_password1" placeholder="New Password" autocomplete="off">
				<input type="password" class="input-lg form-control" name="new_password2" id="id_new_password2" placeholder="Repeat Password" autocomplete="off">
				<input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"  value="{% trans 'Submit' %}">
			</form>
		</div><!--/col-sm-6-->
	</div><!--/row-->
</div>





{% endblock %}

