{% extends "index.html" %}
{% load i18n %}
{% block icono %}
<img src="../../static/imagenes/logoIcono.jpg" alt="LOGO">
{% endblock %}
{% block contenido %}


<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<form role="form" method="post" action=".">
				{% csrf_token %}

				<h2>Formulario de registro</h2>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
					<ul class="errorlist"><li>A user with that username already exists.</li></ul>
						<div class="form-group">
							
							<input type="text"  name="username" id="id_username" class="form-control input-lg"  required="" placeholder="Username" tabindex="1" autofocus="">          
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6">
						<span tabindex="2">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
						<input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="3">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="4">
						</div>
					</div>
				</div>
				<ul class="errorlist"><li>Enter a valid email address.</li></ul>
				<div class="form-group">
					<input type="email" name="email" id="id_email" class="form-control input-lg" placeholder="Email Address" tabindex="5">
				</div>
				<div class="row">
					<ul class="errorlist"><li>This password is too short. It must contain at least 8 characters.</li></ul>
					<ul class="errorlist"><li>The two password fields didn't match.</li></ul>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" id="id_password1" name="password1" required="" class="form-control input-lg" placeholder="Password" tabindex="6">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							
							<input id="id_password2" name="password2" type="password" required="" class="form-control input-lg" placeholder="Confirm Password" tabindex="7">
						</div>

					</div>
				</div>

				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-md-6"><input type="submit" value="{% trans 'Submit' %}" class="btn btn-lg btn-primary btn-block" tabindex="5"></div>
				</div>
			</form>
		</div>
	</div>


</div>
{% endblock %}