{% extends "index.html" %}



	{% block container %}
	{% block page_header %}
			{{ super() }}
		{%endblock%}
		{% block page_menu %}
			{{ super() }}
		{%endblock%}
<div id="body_image3">
<div class="container">
  <h2>Datos restaurante</h2>
  <form class="form-horizontal" action="{{ url_for('modRestaurant')}}" method=Post>
    <div class="form-group">
      <label class="control-label col-sm-2" for="usr">Adress building:</label>
      <div class="col-sm-10">
        <input type="text" name="building" value="{{record['address']['building']}}"/>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="usr">Adress coordX:</label>
      <div class="col-sm-10">
        <input type="text" name="coordX" value="{{ record['address']['coord'][0]}}"/>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="usr">Adress coordY:</label>
      <div class="col-sm-10">
        <input type="text" name="coordY" value="{{ record['address']['coord'][1]}}"/>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="usr">Adress street:</label>
      <div class="col-sm-10">
        <input type="text" name="street" value="{{ record['address']['street']}}"/>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="usr">Adress zipcode:</label>
      <div class="col-sm-10">
        <input type="text" name="zipcode" value="{{ record['address']['zipcode']}}"/>
      </div>
    </div>
	 <div class="form-group">
      <label class="control-label col-sm-2" for="usr">Borough:</label>
      <div class="col-sm-10">
        <input type="text" name="borough" value="{{ record['borough'] }}"/>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="usr">Cuisine:</label>
      <div class="col-sm-10">
        <input type="text" name="cuisine" value="{{record['cuisine']}}"/>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="usr">Name:</label>
      <div class="col-sm-10">
        <input type="text" name="name" value="{{ record['name'] }}"/>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="usr">Restaurant_id:</label>
      <div class="col-sm-10">
        <input type="text" name="restaurant_id" value="{{ record['restaurant_id'] }}" readonly/>
      </div>
    </div>
	<h1>Valoración</h3>
	{%for i in record['grades']: %}
	<div class="form-group">
      <label class="control-label col-sm-2" for="usr">Grades date:</label>
      <div class="col-sm-10">
        <input type="text" name="date" value="{{i['date']}}" readonly/>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="usr">Grades grade:</label>
      <div class="col-sm-10">
        <input type="text" name="grade" value="{{i['grade']}}" readonly/>
      </div>
    </div>
	 <div class="form-group">
      <label class="control-label col-sm-2" for="usr">Grades score:</label>
      <div class="col-sm-10">
        <input type="text" name="score" value="{{i['score']}}" readonly/>
      </div>
    </div>
	 {% endfor %}	
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
</div>

	{% endblock %}

</div>

</body>
</html>
