{% extends "index.html" %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
{% block body %}

{% block contenido %}
<style>
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map, #pano {
        height: 450px;
         width: 100%;
      }

    </style>




<div class="container" style="margin-top: 5%;">
    <div class="col-md-6 col-md-offset-3">

        <!-- Search Form -->
        <form role="form" action="{% url 'buscarTwitter' %}" method="post" >
        {% csrf_token %}
        <!-- Search Field -->
            <div class="row">
                <h1 class="text-center">Buscar en Twitter</h1>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" name="search" id="search" placeholder="Buscar" required/>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"><span style="margin-left:10px;">Search</span></button>
                        </span>
                        </span>
                    </div>
                </div>
            </div>
            
        </form>
        <!-- End of Search Form -->
            
    </div>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="overflow-y: scroll; height: 300px">
      <h1 class="page-header">Localización del twittero</h1>
    {%for i in tweets %}
    <ul class="list-group">
      <li class="list-group-item">Mensaje: {{i.text}}</li>
      <li class="list-group-item">Nombre: {{i.author.name}}</li>
      <li class="list-group-item" id="{{i.author.location}}" onclick="obtenerID(id);" >Localizacion: {{i.author.location}}</li>
      <li class="list-group-item">Descripcion: {{i.author.description}}</li>
      <li class="list-group-item">Fecha de creacion: {{i.author.created_at}}</li>
      <li class="list-group-item">URL: {{i.author.url}}</li> 
      <li class="list-group-item">Retweet: {{i.retweet_count}}</li>
      
    </ul>
    {% endfor %}
</div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Localización del twittero</h1>
    <div id="map"></div>
    </div>
</div>

<script>
  var id;
  var geocoder;
  var map;
//Función que asigna un valor a una variable global
function obtenerID(idem) {
  id = idem;

  geocoder = new google.maps.Geocoder();
  geocodeAddress(geocoder, map);

}

function initMap() {

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: {lat: 37.1434245, lng: -3.5730543}
  });
  


}

function geocodeAddress(geocoder, resultsMap) {
  var address = id;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === 'OK') {
      resultsMap.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
    } else {
      alert('No hemos encontrado localizaciones con ese nombre: ' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCu0b_ctLhA0uaBGcE01DoIMxat0MH7yk&callback=initMap" async defer></script>
{% endblock %}
{% endblock %}
