
{% extends "index.html" %}
{% block icono %}
<img src="../../static/imagenes/logoIcono.jpg" alt="LOGO">
{% endblock%}

{% block body %}

{% block contenido %}
<script>
		function llamar_ajax(fila){
  
			$.ajax({
				url: '/restaurantes/ajax/',
				data: { fila : fila},
				type: 'GET',
				dataType : 'json',                       
				success: function(datos) {
								alert(datos);  
					Visualiza_filas (datos);  
				},
				failure: function(datos) {     		
					alert('esto no vá');
				}
			});
		};       

		function Visualiza_filas (datos) {
			var index=0;
			var index2=0;
			alert(datos);
			$("#tab tbody tr").each(function (index) 
			{

				$(this).children("td").each(function (index2) 
				{

					$(this).text(datos[index2][index]);

					index2++;
				});
				index++;
			});
		};   
		$(document).ready(function() {
			$('tbody tr td a:has(ul)').hover(
				function(e)
				{
					$(this).find('ul').css({display: "block"});
				},
				function(e)
				{
					event.preventDefault();
					$( this ).find('ul').hide( "slow" );	

				}
				);
		});
	</script>
<div class="container">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Restaurantes</h1>
			<h2 class="sub-header">Lista de restaurantes</h2>
			<div class="table-responsive">
				<table class="table" id="tab">
					<thead>
						<tr>
							<th>address</th>
							<th>borough</th>
							<th>cuisine</th>
							<th>name</th>
							<th>restaurant_id</th>
						</tr>
					</thead>

					<ul class="pagination" >
						<li onclick="llamar_ajax(0)"><a href="#">1</a></li>
						<li onclick="llamar_ajax(10)"><a href="#">2</a></li>
						<li onclick="llamar_ajax(20)"><a href="#">3</a></li>
						<li onclick="llamar_ajax(30)"><a href="#">4</a></li>
						<li onclick="llamar_ajax(40)"><a href="#">5</a></li>
						<li onclick="llamar_ajax(50)"><a href="#">6</a></li>
						<li onclick="llamar_ajax(60)"><a href="#">7</a></li>
						<li onclick="llamar_ajax(70)"><a href="#">8</a></li>
					</ul>

					<tbody>	

						{%for record in coleccion %}
						<tr >
							<td> <a href=""  id="pi">{{record.address.street}}
								<ul style="display: none;">
									<li>Coordenadas:{{record.address.coord}}</li>
									<li>Código postal:{{record.address.zipcode}}</li>
								</ul></a>
							</td>

							<td> <a href="">{{record.borough}}
								<ul style="display: none;">
									<li>Coordenadas:{{record.address.coord}}</li>
									<li>Código postal:{{record.address.zipcode}}</li>
								</ul></a>
							</td>
							<td> <a href="">{{record.cuisine}}
								<ul style="display: none;">
									<li>Coordenadas:{{record.address.coord}}</li>
									<li>Código postal:{{record.address.zipcode}}</li>
								</ul></a></td>
								<td> <a href="">{{record.name}}
									<ul style="display: none;">
										<li>Coordenadas:{{record.address.coord.}}</li>
										<li>Código postal:{{record.address.zipcode}}</li>
									</ul></a></td>
									
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					</div>

{% endblock %}
{% endblock %}
