
{% extends "index.html" %}

{% block body %}

{% block contenido %}
<script>
		function llamar_ajax(fila){
  
			$.ajax({
				url: '/restaurantes/ajax/',
				data: { fila : fila},
				type: 'GET',
				dataType : 'json',                       
				success: function(datos) {
					Visualiza_filas (datos);  
				},
				failure: function(datos) {     		
					alert('esto no vá');
				}
			});
		};       

		function Visualiza_filas (datos) {
			var index=0;
			var index2=0;
			$("#acrylic tbody tr").each(function (index) 
			{

				$(this).children("td").each(function (index2) 
				{
					if(index2==0)
						$(this).text(datos[index]['addres']);
					else if(index2==1)
						$(this).text(datos[index]['borough']);
					else if(index2==2)
						$(this).text(datos[index]['cuisine']);
					else if(index2==3)
						$(this).text(datos[index]['name']);
					else if(index2==4)
						$(this).text(datos[index]['restaurant_id']);
					index2++;
				});
				index++;
			});
		};   

	</script>
<div class="container">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Restaurantes</h1>
			<h2 class="sub-header">Lista de restaurantes</h2>
			<div class="table-responsive">
				<table class="table" id="acrylic">
					<thead>
						<tr>
							<th>address</th>
							<th>borough</th>
							<th>cuisine</th>
							<th>name</th>
							<th>restaurant_id</th>
						</tr>
					</thead>

					<ul class="pagination" >
						<li onclick="llamar_ajax(0)"><a href="#">1</a></li>
						<li onclick="llamar_ajax(10)"><a href="#">2</a></li>
						<li onclick="llamar_ajax(20)"><a href="#">3</a></li>
						<li onclick="llamar_ajax(30)"><a href="#">4</a></li>
						<li onclick="llamar_ajax(40)"><a href="#">5</a></li>
						<li onclick="llamar_ajax(50)"><a href="#">6</a></li>
						<li onclick="llamar_ajax(60)"><a href="#">7</a></li>
						<li onclick="llamar_ajax(70)"><a href="#">8</a></li>
					</ul>

					<tbody>	

						{%for record in coleccion %}
						<tr >
							<td> <a href="{% url 'modificarUnRestaurante' identificador=record.restaurant_id%}"  id="pi">{{record.address.street}}
								<ul style="display: none;">
									<li>Coordenadas:{{record.address.coord}}</li>
									<li>Código postal:{{record.address.zipcode}}</li>
								</ul></a>
							</td>

							<td> <a href="{% url 'modificarUnRestaurante' identificador=record.restaurant_id%}">{{record.borough}}
								<ul style="display: none;">
									<li>Coordenadas:{{record.address.coord}}</li>
									<li>Código postal:{{record.address.zipcode}}</li>
								</ul></a>
							</td>
							<td> <a href="{% url 'modificarUnRestaurante' identificador=record.restaurant_id%}">{{record.cuisine}}
								<ul style="display: none;">
									<li>Coordenadas:{{record.address.coord}}</li>
									<li>Código postal:{{record.address.zipcode}}</li>
								</ul></a></td>
								<td> <a href="{% url 'modificarUnRestaurante' identificador=record.restaurant_id%}">{{record.name}}
									<ul style="display: none;">
										<li>Coordenadas:{{record.address.coord.}}</li>
										<li>Código postal:{{record.address.zipcode}}</li>
									</ul></a></td>
								<td> <a href="{% url 'modificarUnRestaurante' identificador=record.restaurant_id%}">{{record.restaurant_id}}
									<ul style="display: none;">
										<li>Coordenadas:{{record.address.coord.}}</li>
										<li>Código postal:{{record.address.zipcode}}</li>
									</ul></a></td>
									
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					</div>

{% endblock %}
{% endblock %}
