
{% extends "index.html" %}

{% block body %}
<script type="text/javascript">
  function convertirGpsADireccion(lat, lon, callback) {
    $.getJSON("https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyBCu0b_ctLhA0uaBGcE01DoIMxat0MH7yk&callback=initMap" );
}

</script>
{% block contenido %}
<div class="container">
  <div class="col-lg-offset-4 col-lg-4" id="panel">
    <h2>Registrar restaurante</h2>

    <form action="{% url 'registrarRestaurante' %}" method="post"  >
      {% csrf_token %}
      <div class="group">
        <input type="text" name="Name" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
      </div>
      <div class="group">
        <input type="text" name="Restaurante_id" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Restaurante_id</label>
      </div>
      <div class="group">
        <input type="text" name="Cuisine" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Cuisine</label>
      </div>
      <div class="group">
        <input type="text" name="Borough" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Borough</label>
      </div>
      <div class="group">
        <input type="text" name="AdressBuilding" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Adress building</label>
      </div>

      <div class="group">
        <input type="text" name="AdressCoordX" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Adress coordX</label>
      </div>

      <div class="group">
        <input type="text" name="AdressCoordY" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Adress coordY</label>
      </div>

      <div class="group">
        <input type="text" name="AdressStreet" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Adress street</label>
      </div>
      <div class="group">
        <input type="text" name="AdressZipcode" >
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Adress zipcode</label>
      </div>
      <div class="group">
        <center> <button type="submit" class="btn btn-warning" value="Submit">Registrar <span class="glyphicon glyphicon-send"></span></button></center>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% endblock %}